@model Race

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@Model.Image" width="100%" height="225px" data-holder-rendered="true">
                <div class="card-body">ч
                    <p class="card-text">@Model.Title</p>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Model.Address.City</p>
                    <p class="card-text">@Model.Address.State</p>
                    <p class="card-text">@Model.RaceCategory</p>
                </div>
            </div>
        </div>
    </div>
</div>